.header {
	block-size: var(--headerSize);
	padding: 5px;
	display: flex;
	justify-content: space-between;
	background-color: var(--grey-4);
}

.header-primary, .header-secondary {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.button {
	border: none;
	align-items: center;
}